body {
    background-color: #edd9d8;
  }
  h1 {
    color: #56ce8c;
    width: 1000;
    height: 500;
  }
  h2 {
    color: #3e78e4;
    font-family: 'Courier New', Courier, monospace;
    font:100;
  }
  h3 {
    color: #dd6d6d;
    border: 4px solid rgb(113, 194, 194);
  }
  p {
    color: #000000;
    border: 2px solid #dd6db8;
    margin: 40px;
    font-family: 'Courier New', Courier, monospace;
    font:300;
  }
  /* unvisited link */
a:link {
  color: blue;
}
/* visited link */
a:visited {
  color: purple;
}
/* mouse over link */
a:hover {
  color: hotpink;
}
/* selected link */
a:active {
  color: red;
}

 